{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "editorconfig": true,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
